.gameWrap {
    // background: $mainBG_1;

    //主內容
    .content {
        width: 100%;
        min-width: 1400px;
        // height: 700px;
        // margin-bottom: 48px;

        // &.slotPage {
        //     width: 1400px;
        //     height: auto;
        //     margin: 0 auto;
        // }

        .center {
            width: 1400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            // padding-left: 100px;
            box-sizing: border-box;
        }

        .textBox {
            width: 695px;
            height: auto;
            padding-top: 138px;

            .title {
                display: flex;
                align-items: flex-end;
                font-weight: bold;

                .big {
                    font-size: 58px;
                    letter-spacing: 5px;
                    color: $main_Color4;
                }

                .small {
                    font-size: 40px;
                    padding-bottom: 5px;
                    color:$main_Color4;
                }
            }

            .mainCnt {
                margin: 45px 0;
                width: 595px;
                letter-spacing: 1px;
                line-height: 24px;
                font-size: 14px;
                font-weight: bold;
                color:$main_Color;
            }
        }

        .btnBox {
            width: auto;
            height: auto;

            .innBox {
                width: auto;
                height: auto;

                ul {
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: repeat(3,189px);
                    grid-gap: 10px;
                    padding-bottom: 20px;
                    
                    li {
                        width: auto;
                        height: auto;
                        cursor: pointer;
                        font-weight: bold;

                        &:hover,&:active,&.active {
                            
                            img {
                                object-position: bottom;
                            }
                        }

                        p {
                            width: 100%;
                            text-align: center;
                            font-size: 14px;
                            color:$main_Color;
                            padding-top: 10px;
                        }

                        //for live真人
                        // .imgBox {
                        //     border: solid 1px $main_Border;
                        //     border-radius: 5px;
                        //     box-shadow: 0 5px 10px 0 $boxShadow_2;
                        //     background: $linear_2;
                        //     box-sizing: border-box;
                        //     cursor: pointer;
                        // }
                    }
                }
            }
        }

        // &.livePage {

        //     .btnBox {
    
        //         .innBox {
    
        //             ul {
                        
        //                 li {
        //                     margin: 0 15px 5px 0;
        //                 }
        //             }
        //         }
        //     }
        // }
    }

    //slot+fish+board
    .slotCenter {
        width: 1400px;
        height: auto;
        margin: 0 auto;
        padding: 25px 0;

        .slotBody {
            background: $mainBG_2;
            border-radius: 5px;
            box-shadow: 0 5px 10px $boxShadow_3;

            .nav {
                margin: 0 26px;
                height: 70px;
                border-bottom: solid 1px $main_Border_2;
                display: flex;
                align-items: center;
                justify-content: space-between;

                ul {
                    width: 100%;
                    height: 100%;
                    display: flex;

                    li {
                        color: $main_Color3;
                        width: auto;
                        height: calc(100% - 3px);
                        padding: 0 50px;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        border-bottom: solid 3px transparent;
                        cursor: pointer;
                        justify-content: center;
                        position: relative;
                        font-weight: bold;
                        margin-top: 3px;
    
                        &:hover,&:active,&.active {
                            color: $main_Color4;
                            border-color: $specailBorder;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 0px;
                                height: 0px;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: 0;
                                border-style: solid;
                                border-width: 0 6px 6px;
                                border-color: $specailBorder transparent;
                            }
                        }
                    }
                }

                .search {
                    position: relative;
                    width: auto;
                    height: auto;

                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 7px;
                        width: 20px;
                        height: 20px;
                    }

                    input {
                        width: 330px;
                        height: 40px;
                        @include inputStyle;
                        padding-left: 36px;

                    }
                }
            }

            .gameBox {
                padding: 24px 48px 40px;

                .platformBox {
                    width: 100%;
                    height: auto;

                    .platforms {
                        margin-bottom: 50px;
                        // display: none;

                        // &.display {
                        //     display: block;
                        // }

                        .pfName {
                            width: 100%;
                            height: 70px;
                            margin-bottom: 15px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            // &.active {
                            //     justify-content: space-between;

                            //     .back {
                            //         display: block;
                            //     }

                            //     .all {
                            //         display: none;
                            //     }
                            // }

                            // .back {
                            //     display: none;
                            //     width: 137px;
                            //     height: 40px;
                            //     @include game_btn;
                            //     font-size: 18px;
                            //     padding-left: 20px;
                            //     // margin-right: 20px;

                            //     i {
                            //         display: inline-block;
                            //         width: 10px;
                            //         height: 20px;
                            //         position: relative;
                            //         right: 75px;
                            //         top: 4px
                            //     }
                            // }

                            // .all {
                            //     @include mainBtn;
                            //     width: 137px;
                            //     height: 40px;
                            //     font-size: 18px;

                            //     i {
                            //         display: inline-block;
                            //         width: 8px;
                            //         height: 15px;
                            //         transform: scaleX(-1);
                            //         margin-left: 20px;
                            //     }
                            // }
                        }

                        .gameList {
                            width: 100%;
                            height: auto;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            overflow: hidden;
                            display: flex;

                            // &.active {
                            //     height: auto;
                            // }

                            li {
                                width: 250px;
                                height: 200px;
                                border: solid 1px $gameboder;
                                border-radius: 5px;
                                overflow: hidden;
                                cursor: pointer;
                                box-sizing: border-box;
                                font-size: 0px;
                                position: relative;
                                margin: 0 13px 13px 0;

                                &:nth-of-type(5n) {
                                    margin-right: 0;
                                }

                                &:hover,&:active,&.active {
                                    
                                    .btnBox {
                                        opacity: 1;
                                    }
                                }

                                .textBox {
                                    width: 100%;
                                    height: 35px;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 20px;
                                    box-sizing: border-box;
                                    justify-content: space-between;
                                    background:$gamebg;
                                    position: relative;
                                    z-index: 1;

                                    p {
                                        font-size: 18px;
                                        font-weight: bold;
                                        color: $game_color;
                                    }

                                    .love {
                                        width: 23px;
                                        height: 21px;
                                    }
                                }

                                .btnBox {
                                    opacity: 0;
                                    position: absolute;
                                    width: 100%;
                                    height: 165px;
                                    background: $game_hoverBG;
                                    top: 0px;
                                    left: 0px;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    box-sizing: border-box;
                                    padding: 30px 0;
                                    transition: 0.3s all;

                                    button {
                                        width: 140px;
                                        height: 40px;
                                        @include game_btn;

                                        &:last-child {
                                            @include game_Lastbtn;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //下橫條選單
    .downBar {
        width: 1400px;
        height: 120px;
        border-radius: 10px;
        background: $mainBG_2;
        box-shadow: 0px 5px 10px 0px $boxShadow_2;
        display: flex;
        margin: 0 auto;

        li {
            width: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            font-weight: bold;
            color: $main_Color;
            border-right: solid 1px $main_Border;
            cursor: pointer;

            &:last-child {
                border: none;
            }

            i {
                width: 46px;
                height: 46px;
                margin-bottom: 14px;
            }
        }
    }
}